<div class="toggle-container">
    <label class="toggle-label">
        <input type="checkbox" @bind="IsEnabled" @oninput="OnToggleChanged" />
        <span class="toggle-slider"></span>
        <span class="toggle-text">Enable</span>
    </label>
</div>

@code {
    [Parameter] public bool IsEnabled { get; set; }
    [Parameter] public EventCallback<bool> IsEnabledChanged { get; set; }

    private async Task OnToggleChanged(ChangeEventArgs e)
    {
        IsEnabled = (bool)e.Value!;
        await IsEnabledChanged.InvokeAsync(IsEnabled);
    }
}
